.product-download {
  @include make-col-ready();
  @include make-col(12);
  line-height: 1;
  margin: ($spacer * 3) 0;
  padding: $spacer;
  background-color: $multinational-red;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(md) {
    flex-flow: row;
  }

  .product-logo {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    width: 130px;
    height: auto;
    margin: 0 $spacer;
  }
  .btn-download {
    margin: $spacer 0;
    @include media-breakpoint-up(md) {
      margin: 0 $spacer;
    }
  }
  .product-form {
    font-size: 20px;
    padding: $spacer;
  }
  .product-brochure {
    padding: ($spacer * 0.75);
  }
}
