.contact-card {
  height: 100%;
  @include center-shadow(0.25);

  &-map {
    height: 275px;
  }

  &-info {
    padding: $spacer;
  }
  &-city {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin: 0 0 $spacer 0 !important;
    padding: 0 !important;
  }
  &-address,
  &-manager,
  &-time,
  &-email,
  &-phone,
  &-fax {
    margin-bottom: $spacer;
    display: flex;
    justify-content: start;

    i {
      line-height: 1.5;
      margin-right: ($spacer * 0.5);
      color: $multinational-red;
    }
  }
}
